In [4]:
from dotenv import load_dotenv
import os
from groq import Groq
import pandas as pd
import oracledb
import re

In [2]:
file_path = "financial_statements_aapl.xlsx"  # Update with your file name
df = pd.read_excel(file_path)

# Display the first few rows
print(df.head())

  Fiscal Quarter  Revenue Revenue Growth (YoY)  Cost of Revenue  Gross Profit  \
0        Q4 2024    94930                6.07%            51051         43879
1        Q3 2024    85777                4.87%            46099         39678
2        Q2 2024    90753               -4.31%            48482         42271
3        Q1 2024   119575                2.07%            64720         54855
4        Q4 2023    89498               -0.72%            49071         40427

   Selling, General & Admin  Research & Development  Operating Expenses  \
0                      6523                    7765               14288
1                      6320                    8006               14326
2                      6468                    7903               14371
3                      6786                    7696               14482
4                      6151                    7307               13458

   Operating Income Interest Expense  ... Operating Margin Profit Margin  \
0             29591                -  ...           31.17%        15.52%
1             25352                -  ...           29.56%        25.00%
2             27900                -  ...           30.74%        26.04%
3             40373                -  ...           33.76%        28.36%
4             26969                -  ...           30.13%        25.65%

   Free Cash Flow Margin  EBITDA EBITDA Margin  D&A For EBITDA   EBIT  \
0                 25.18%   32502        34.24%            2911  29591
1                 31.14%   28202        32.88%            2850  25352
2                 22.80%   30736        33.87%            2836  27900
3                 31.36%   43221        36.15%            2848  40373
4                 21.72%   29622        33.10%            2653  26969

   EBIT Margin  Effective Tax Rate Revenue as Reported
0       31.17%              50.23%               94930
1       29.56%              15.87%               85777
2       30.74%              15.76%               90753
3       33.76%              15.89%              119575
4       30.13%              14.97%               89498

[5 rows x 41 columns]

In [55]:
import pandas as pd
import oracledb
import re
import numpy as np
import locale

# Set locale for correct number parsing
locale.setlocale(locale.LC_ALL, 'en_US.UTF-8')

# Load Excel file
file_path = "financial_statements_aapl.xlsx"
xls = pd.ExcelFile(file_path)

# Function to clean column names
def clean_column_names(columns):
    cleaned_columns = []
    for col in columns:
        col = col.replace(",", " ")  # Replace ',' with space
        col = col.replace("&", " and ")  # Replace '&' with 'and'
        col = col.replace("(", "_").replace(")", "_")  # Replace '()' with '_'
        col = col.replace("-", " ")  # Replace '-' with space
        col = re.sub(r"\s+", " ", col).strip()  # Remove extra spaces
        cleaned_columns.append(col)
    return cleaned_columns

# Function to convert string numbers & percentages to floats
def convert_to_float(value):
    """Converts numbers and percentages to float while handling missing values."""
    if pd.isna(value) or value in ["", "-"]:
        return np.nan  # Keep missing values as NaN

    value = str(value).strip()

    # Convert percentage to decimal
    if value.endswith("%"):
        try:
            return locale.atof(value[:-1]) / 100  # Convert "55%" → 0.55
        except ValueError:
            return np.nan

    # Convert standard numbers
    try:
        return locale.atof(value)  # Convert "55" → 55.0
    except ValueError:
        return np.nan  # Default to NaN for non-numeric values

# Function to detect column types
def detect_column_type(column_name, series):
    """Assigns FLOAT to all columns except 'Fiscal Quarter' and 'Fiscal Year'."""
    if "fiscal year" in column_name.lower() or "fiscal quarter" in column_name.lower():
        return "VARCHAR2(255)"  # Keep Fiscal Year & Fiscal Quarter as text

    return "FLOAT"  # Everything else is FLOAT

# Function to clean the data and apply transformations
def clean_data(df):
    """Clean data by handling NaNs, converting percentages, and ensuring correct types."""

    # Replace empty strings and dashes with NaN
    df.replace(["-", ""], np.nan, inplace=True)

    # Convert all columns (except Fiscal Year & Fiscal Quarter) to FLOAT
    for col in df.columns:
        col_type = detect_column_type(col, df[col])

        if col_type == "FLOAT":
            df[col] = df[col].apply(convert_to_float)  # Convert numbers & percentages
        
    return df

# Function to upload cleaned data to Oracle
def upload_to_oracle(sheet_name, df):
    # Oracle connection
    user = "ADMIN"
    password = "Passwordtestdb@1"
    dsn = "testdb_medium"
    wallet_location = r"/Users/vexy/Documents/Wallet_testdb/"

    conn = oracledb.connect(
        user=user,
        password=password,
        dsn=dsn,
        config_dir=wallet_location,
        wallet_location=wallet_location,
        wallet_password=password
    )
    
    cursor = conn.cursor()

    # Format table name
    table_name = re.sub(r"\W+", "_", sheet_name).upper()

    # Drop table if exists
    drop_table_query = f"BEGIN EXECUTE IMMEDIATE 'DROP TABLE {table_name}'; EXCEPTION WHEN OTHERS THEN NULL; END;"
    cursor.execute(drop_table_query)

    # Determine correct SQL data types for each column
    column_definitions = []
    for col in df.columns:
        col_type = detect_column_type(col, df[col])
        column_definitions.append(f'"{col}" {col_type}')

    # Create table
    create_table_query = f"CREATE TABLE {table_name} ({', '.join(column_definitions)})"
    cursor.execute(create_table_query)
    print(f"Table {table_name} created in Oracle.")

    # Prepare INSERT query
    column_names = ", ".join([f'"{col}"' for col in df.columns])
    placeholders = ", ".join([f":{i+1}" for i in range(len(df.columns))])  # Oracle placeholders
    query = f'INSERT INTO {table_name} ({column_names}) VALUES ({placeholders})'

    # Convert DataFrame rows to tuples, replacing NaN with None (NULL in Oracle)
    data_tuples = [tuple(None if pd.isna(x) else x for x in row) for row in df.to_numpy()]

    # Insert data
    cursor.executemany(query, data_tuples)
    conn.commit()

    print(f"Data from '{sheet_name}' uploaded to table '{table_name}' successfully.")

    # Close connection
    cursor.close()
    conn.close()

# Process all sheets
for sheet in xls.sheet_names:
    df = xls.parse(sheet, dtype=str)  # Ensure all columns are loaded as strings initially
    df.columns = clean_column_names(df.columns)  # Clean column names
    df = clean_data(df)  # Clean and transform data
    upload_to_oracle(sheet, df)  # Upload to Oracle

print("All sheets cleaned and uploaded successfully!")

/var/folders/cl/79fsf7m90k3bx5hjvvt29pzr0000gn/T/ipykernel_39890/3566351203.py:60: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  df.replace(["-", ""], np.nan, inplace=True)

Table INCOME_QUARTERLY created in Oracle.
Data from 'income quarterly' uploaded to table 'INCOME_QUARTERLY' successfully.

/var/folders/cl/79fsf7m90k3bx5hjvvt29pzr0000gn/T/ipykernel_39890/3566351203.py:60: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  df.replace(["-", ""], np.nan, inplace=True)

Table BALANCE_SHEET_QUARTERLY created in Oracle.
Data from 'balance sheet quarterly' uploaded to table 'BALANCE_SHEET_QUARTERLY' successfully.

/var/folders/cl/79fsf7m90k3bx5hjvvt29pzr0000gn/T/ipykernel_39890/3566351203.py:60: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  df.replace(["-", ""], np.nan, inplace=True)

Table CASH_FLOW_QUARTERLY created in Oracle.
Data from 'cash flow quarterly' uploaded to table 'CASH_FLOW_QUARTERLY' successfully.
Table RATIO_QUARTERLY created in Oracle.
Data from 'ratio quarterly' uploaded to table 'RATIO_QUARTERLY' successfully.
All sheets cleaned and uploaded successfully!

In [57]:
user = "ADMIN"
password = "Passwordtestdb@1"
dsn = "testdb_medium"
wallet_location = r"/Users/vexy/Documents/Wallet_testdb/"

# Establish database connection
conn = oracledb.connect(
    user=user,
    password=password,
    dsn=dsn,
    config_dir=wallet_location,
    wallet_location=wallet_location,
    wallet_password=password
)
    
cursor = conn.cursor()


# Query to list all tables in the user's schema
query = "SELECT table_name FROM user_tables"
cursor.execute(query)

# Fetch and print all table names
tables = cursor.fetchall()

print("Tables in Oracle Database:")
for table in tables:
    print(table[0])  # Print table name only

# Close connection
cursor.close()
conn.close()

Tables in Oracle Database:
SHEET
INCOME_QUARTERLY
BALANCE_SHEET_QUARTERLY
CASH_FLOW_QUARTERLY
RATIO_QUARTERLY
DBTOOLS$EXECUTION_HISTORY

In [58]:
# Execute Query

user = "ADMIN"
password = "Passwordtestdb@1"
dsn = "testdb_medium"
wallet_location = r"/Users/vexy/Documents/Wallet_testdb/"

# Establish database connection
conn = oracledb.connect(
    user=user,
    password=password,
    dsn=dsn,
    config_dir=wallet_location,
    wallet_location=wallet_location,
    wallet_password=password
)
    
cursor = conn.cursor()
query = "SELECT * FROM INCOME_QUARTERLY"
cursor.execute(query)

# Fetch Results
rows = cursor.fetchall()
for row in rows:
    print(row)
# Close Connection
cursor.close()
conn.close()

('Q4 2024', 94930.0, 0.060700000000000004, 51051.0, 43879.0, 6523.0, 7765.0, 14288.0, 29591.0, None, None, None, 19.0, 29610.0, None, 29610.0, 14874.0, 14736.0, 14736.0, -0.35810000000000003, 15172.0, 15243.0, -0.0274, 0.97, 0.96, -0.3407, 23903.0, 1.57, 0.25, 0.0417, 0.4622, 0.31170000000000003, 0.1552, 0.2518, 32502.0, 0.34240000000000004, 2911.0, 29591.0, 0.31170000000000003, 0.5023, 94930.0)
('Q3 2024', 85777.0, 0.0487, 46099.0, 39678.0, 6320.0, 8006.0, 14326.0, 25352.0, None, None, None, 142.0, 25494.0, None, 25494.0, 4046.0, 21448.0, 21448.0, 0.0788, 15288.0, 15348.0, -0.0271, 1.4, 1.4, 0.11109999999999999, 26707.0, 1.74, 0.25, 0.0417, 0.46259999999999996, 0.2956, 0.25, 0.3114, 28202.0, 0.32880000000000004, 2850.0, 25352.0, 0.2956, 0.15869999999999998, 85777.0)
('Q2 2024', 90753.0, -0.0431, 48482.0, 42271.0, 6468.0, 7903.0, 14371.0, 27900.0, None, None, None, 158.0, 28058.0, None, 28058.0, 4422.0, 23636.0, 23636.0, -0.0217, 15406.0, 15465.0, -0.0241, 1.53, 1.53, 0.0066, 20694.0, 1.34, 0.24, 0.0435, 0.4658, 0.3074, 0.26039999999999996, 0.228, 30736.0, 0.3387, 2836.0, 27900.0, 0.3074, 0.1576, 90753.0)
('Q1 2024', 119575.0, 0.0207, 64720.0, 54855.0, 6786.0, 7696.0, 14482.0, 40373.0, None, None, None, -50.0, 40323.0, None, 40323.0, 6407.0, 33916.0, 33916.0, 0.1306, 15510.0, 15577.0, -0.023799999999999998, 2.19, 2.18, 0.15960000000000002, 37503.0, 2.41, 0.24, 0.0435, 0.4587, 0.33759999999999996, 0.2836, 0.3136, 43221.0, 0.3615, 2848.0, 40373.0, 0.33759999999999996, 0.1589, 119575.0)
('Q4 2023', 89498.0, -0.0072, 49071.0, 40427.0, 6151.0, 7307.0, 13458.0, 26969.0, None, None, None, 29.0, 26998.0, None, 26998.0, 4042.0, 22956.0, 22956.0, 0.1079, 15599.0, 15672.0, -0.0277, 1.47, 1.46, 0.13470000000000001, 19435.0, 1.24, 0.24, 0.0435, 0.4517, 0.3013, 0.2565, 0.21719999999999998, 29622.0, 0.331, 2653.0, 26969.0, 0.3013, 0.1497, 89498.0)
('Q3 2023', 81797.0, -0.013999999999999999, 45384.0, 36413.0, 5973.0, 7442.0, 13415.0, 22998.0, None, None, None, -265.0, 22733.0, None, 22733.0, 2852.0, 19881.0, 19881.0, 0.0226, 15698.0, 15775.0, -0.03, 1.27, 1.26, 0.05, 24287.0, 1.54, 0.24, 0.0435, 0.44520000000000004, 0.2812, 0.24309999999999998, 0.2969, 26050.0, 0.3185, 3052.0, 22998.0, 0.2812, 0.1255, 81797.0)
('Q2 2023', 94836.0, -0.025099999999999997, 52860.0, 41976.0, 6201.0, 7457.0, 13658.0, 28318.0, None, None, None, 64.0, 28382.0, None, 28382.0, 4222.0, 24160.0, 24160.0, -0.034, 15787.0, 15847.0, -0.0339, 1.53, 1.52, 0.0, 25644.0, 1.62, 0.23, 0.0455, 0.4426, 0.2986, 0.2548, 0.2704, 31216.0, 0.3292, 2898.0, 28318.0, 0.2986, 0.14880000000000002, 94836.0)
('Q1 2023', 117154.0, -0.0548, 66822.0, 50332.0, 6607.0, 7709.0, 14316.0, 36016.0, None, None, None, -393.0, 35623.0, None, 35623.0, 5625.0, 29998.0, 29998.0, -0.1338, 15893.0, 15956.0, -0.0341, 1.89, 1.88, -0.1048, 30218.0, 1.89, 0.23, 0.0455, 0.4296, 0.3074, 0.2561, 0.2579, 38932.0, 0.3323, 2916.0, 36016.0, 0.3074, 0.15789999999999998, 117154.0)
('Q4 2022', 90146.0, 0.0814, 52051.0, 38095.0, 6440.0, 6761.0, 13201.0, 24894.0, -827.0, 753.0, None, -163.0, 24657.0, None, 24657.0, 3936.0, 20721.0, 20721.0, 0.0083, 16030.0, 16118.0, -0.0311, 1.29, 1.29, 0.0482, 20838.0, 1.29, 0.23, 0.0455, 0.4226, 0.2762, 0.2299, 0.23120000000000002, 27759.0, 0.3079, 2865.0, 24894.0, 0.2762, 0.15960000000000002, 90146.0)
('Q3 2022', 82959.0, 0.0187, 47074.0, 35885.0, 6012.0, 6797.0, 12809.0, 23076.0, -719.0, 722.0, None, -13.0, 23066.0, None, 23066.0, 3624.0, 19442.0, 19442.0, -0.1059, 16163.0, 16262.0, -0.031, 1.2, 1.2, -0.07690000000000001, 20790.0, 1.28, 0.23, 0.0455, 0.4326, 0.2782, 0.23440000000000003, 0.2506, 25881.0, 0.312, 2805.0, 23076.0, 0.2782, 0.15710000000000002, 82959.0)
('Q2 2022', 97278.0, 0.0859, 54719.0, 42559.0, 6193.0, 6387.0, 12580.0, 29979.0, -691.0, 700.0, None, 151.0, 30139.0, None, 30139.0, 5129.0, 25010.0, 25010.0, 0.0584, 16279.0, 16403.0, -0.0311, 1.54, 1.52, 0.0857, 25652.0, 1.56, 0.22, 0.0732, 0.4375, 0.30820000000000003, 0.2571, 0.2637, 32716.0, 0.33630000000000004, 2737.0, 29979.0, 0.30820000000000003, 0.1702, 97278.0)
('Q1 2022', 123945.0, 0.11220000000000001, 69702.0, 54243.0, 6449.0, 6306.0, 12755.0, 41488.0, -694.0, 650.0, None, -203.0, 41241.0, None, 41241.0, 6611.0, 34630.0, 34630.0, 0.2043, 16392.0, 16519.0, -0.0347, 2.11, 2.1, 0.25, 44163.0, 2.67, 0.22, 0.0732, 0.4376, 0.3347, 0.27940000000000004, 0.3563, 44185.0, 0.3565, 2697.0, 41488.0, 0.3347, 0.1603, 123945.0)
('Q4 2021', 83360.0, 0.2884, 48186.0, 35174.0, 5616.0, 5772.0, 11388.0, 23786.0, -672.0, 659.0, None, -525.0, 23248.0, None, 23248.0, 2697.0, 20551.0, 20551.0, 0.6215999999999999, 16487.0, 16635.0, -0.036000000000000004, 1.25, 1.23, 0.6616, 16977.0, 1.02, 0.22, 0.0732, 0.42200000000000004, 0.2853, 0.2465, 0.20370000000000002, 26775.0, 0.3212, 2989.0, 23786.0, 0.2853, 0.11599999999999999, 83360.0)
('Q3 2021', 81434.0, 0.3644, 46179.0, 35255.0, 5412.0, 5717.0, 11129.0, 24126.0, -665.0, 719.0, None, 189.0, 24369.0, None, 24369.0, 2625.0, 21744.0, 21744.0, 0.9323, 16629.0, 16782.0, -0.0366, 1.31, 1.3, 1.0, 19001.0, 1.13, 0.22, 0.0732, 0.4329, 0.2963, 0.267, 0.23329999999999998, 26958.0, 0.331, 2832.0, 24126.0, 0.2963, 0.10769999999999999, 81434.0)
('Q2 2021', 89584.0, 0.5363, 51505.0, 38079.0, 5314.0, 5262.0, 10576.0, 27503.0, -670.0, 718.0, None, 460.0, 28011.0, None, 28011.0, 4381.0, 23630.0, 23630.0, 1.1006, 16753.0, 16929.0, -0.0391, 1.41, 1.4, 1.1875, 21712.0, 1.28, 0.205, 0.0649, 0.4251, 0.307, 0.2638, 0.24239999999999998, 30300.0, 0.3382, 2797.0, 27503.0, 0.307, 0.1564, 89584.0)
('Q1 2021', 111439.0, 0.2137, 67111.0, 44328.0, 5631.0, 5163.0, 10794.0, 33534.0, -638.0, 747.0, None, -64.0, 33579.0, None, 33579.0, 4824.0, 28755.0, 28755.0, 0.2932, 16935.0, 17114.0, -0.039599999999999996, 1.7, 1.68, 0.344, 35263.0, 2.06, 0.205, 0.0649, 0.3978, 0.3009, 0.258, 0.3164, 36200.0, 0.3248, 2666.0, 33534.0, 0.3009, 0.1437, 111439.0)

In [59]:
# Get all table names
user = "ADMIN"
password = "Passwordtestdb@1"
dsn = "testdb_medium"
wallet_location = r"/Users/vexy/Documents/Wallet_testdb/"

# Establish database connection
conn = oracledb.connect(
    user=user,
    password=password,
    dsn=dsn,
    config_dir=wallet_location,
    wallet_location=wallet_location,
    wallet_password=password
)
    
cursor = conn.cursor()
cursor.execute("SELECT table_name FROM user_tables")
tables = cursor.fetchall()

print("\nDDL Statements for All Tables:\n")

for table in tables:
    table_name = table[0]

    # Get DDL for the table
    ddl_query = f"SELECT DBMS_METADATA.GET_DDL('TABLE', '{table_name}') FROM DUAL"
    cursor.execute(ddl_query)
    ddl_statement = cursor.fetchone()[0].read()

    print(f"\nDDL for Table: {table_name}\n" + "-" * 40)
    print(ddl_statement)
    print("\n" + "-" * 80)

# Close connection
cursor.close()
conn.close()

DDL Statements for All Tables:


DDL for Table: SHEET
----------------------------------------

  CREATE TABLE "ADMIN"."SHEET"
   (	"Interest Expense" VARCHAR2(255) COLLATE "USING_NLS_COMP"
   )  DEFAULT COLLATION "USING_NLS_COMP" SEGMENT CREATION IMMEDIATE
  PCTFREE 10 PCTUSED 40 INITRANS 10 MAXTRANS 255
 COLUMN STORE COMPRESS FOR QUERY HIGH ROW LEVEL LOCKING LOGGING
  STORAGE(INITIAL 65536 NEXT 1048576 MINEXTENTS 1 MAXEXTENTS 2147483645
  PCTINCREASE 0 FREELISTS 1 FREELIST GROUPS 1
  BUFFER_POOL DEFAULT FLASH_CACHE DEFAULT CELL_FLASH_CACHE DEFAULT)
  TABLESPACE "DATA"

--------------------------------------------------------------------------------

DDL for Table: INCOME_QUARTERLY
----------------------------------------

  CREATE TABLE "ADMIN"."INCOME_QUARTERLY"
   (	"Fiscal Quarter" VARCHAR2(255) COLLATE "USING_NLS_COMP",
	"Revenue" FLOAT(126),
	"Revenue Growth _YoY_" FLOAT(126),
	"Cost of Revenue" FLOAT(126),
	"Gross Profit" FLOAT(126),
	"Selling General and Admin" FLOAT(126),
	"Research and Development" FLOAT(126),
	"Operating Expenses" FLOAT(126),
	"Operating Income" FLOAT(126),
	"Interest Expense" FLOAT(126),
	"Interest and Investment Income" FLOAT(126),
	"Currency Exchange Gain _Loss_" FLOAT(126),
	"Other Non Operating Income _Expenses_" FLOAT(126),
	"EBT Excluding Unusual Items" FLOAT(126),
	"Gain _Loss_ on Sale of Investments" FLOAT(126),
	"Pretax Income" FLOAT(126),
	"Income Tax Expense" FLOAT(126),
	"Net Income" FLOAT(126),
	"Net Income to Common" FLOAT(126),
	"Net Income Growth" FLOAT(126),
	"Shares Outstanding _Basic_" FLOAT(126),
	"Shares Outstanding _Diluted_" FLOAT(126),
	"Shares Change _YoY_" FLOAT(126),
	"EPS _Basic_" FLOAT(126),
	"EPS _Diluted_" FLOAT(126),
	"EPS Growth" FLOAT(126),
	"Free Cash Flow" FLOAT(126),
	"Free Cash Flow Per Share" FLOAT(126),
	"Dividend Per Share" FLOAT(126),
	"Dividend Growth" FLOAT(126),
	"Gross Margin" FLOAT(126),
	"Operating Margin" FLOAT(126),
	"Profit Margin" FLOAT(126),
	"Free Cash Flow Margin" FLOAT(126),
	"EBITDA" FLOAT(126),
	"EBITDA Margin" FLOAT(126),
	"D and A For EBITDA" FLOAT(126),
	"EBIT" FLOAT(126),
	"EBIT Margin" FLOAT(126),
	"Effective Tax Rate" FLOAT(126),
	"Revenue as Reported" FLOAT(126)
   )  DEFAULT COLLATION "USING_NLS_COMP" SEGMENT CREATION IMMEDIATE
  PCTFREE 10 PCTUSED 40 INITRANS 10 MAXTRANS 255
 COLUMN STORE COMPRESS FOR QUERY HIGH ROW LEVEL LOCKING LOGGING
  STORAGE(INITIAL 65536 NEXT 1048576 MINEXTENTS 1 MAXEXTENTS 2147483645
  PCTINCREASE 0 FREELISTS 1 FREELIST GROUPS 1
  BUFFER_POOL DEFAULT FLASH_CACHE DEFAULT CELL_FLASH_CACHE DEFAULT)
  TABLESPACE "DATA"

--------------------------------------------------------------------------------

DDL for Table: BALANCE_SHEET_QUARTERLY
----------------------------------------

  CREATE TABLE "ADMIN"."BALANCE_SHEET_QUARTERLY"
   (	"Fiscal Quarter" VARCHAR2(255) COLLATE "USING_NLS_COMP",
	"Cash and Equivalents" FLOAT(126),
	"Short Term Investments" FLOAT(126),
	"Cash and Short Term Investments" FLOAT(126),
	"Cash Growth" FLOAT(126),
	"Accounts Receivable" FLOAT(126),
	"Other Receivables" FLOAT(126),
	"Receivables" FLOAT(126),
	"Inventory" FLOAT(126),
	"Restricted Cash" FLOAT(126),
	"Other Current Assets" FLOAT(126),
	"Total Current Assets" FLOAT(126),
	"Property Plant and Equipment" FLOAT(126),
	"Long Term Investments" FLOAT(126),
	"Long Term Deferred Tax Assets" FLOAT(126),
	"Other Long Term Assets" FLOAT(126),
	"Total Assets" FLOAT(126),
	"Accounts Payable" FLOAT(126),
	"Short Term Debt" FLOAT(126),
	"Current Portion of Long Term Debt" FLOAT(126),
	"Current Portion of Leases" FLOAT(126),
	"Current Income Taxes Payable" FLOAT(126),
	"Current Unearned Revenue" FLOAT(126),
	"Other Current Liabilities" FLOAT(126),
	"Total Current Liabilities" FLOAT(126),
	"Long Term Debt" FLOAT(126),
	"Long Term Leases" FLOAT(126),
	"Other Long Term Liabilities" FLOAT(126),
	"Total Liabilities" FLOAT(126),
	"Common Stock" FLOAT(126),
	"Retained Earnings" FLOAT(126),
	"Comprehensive Income and Other" FLOAT(126),
	"Shareholders' Equity" FLOAT(126),
	"Total Liabilities and Equity" FLOAT(126),
	"Total Debt" FLOAT(126),
	"Net Cash _Debt_" FLOAT(126),
	"Net Cash Growth" FLOAT(126),
	"Net Cash Per Share" FLOAT(126),
	"Filing Date Shares Outstanding" FLOAT(126),
	"Total Common Shares Outstanding" FLOAT(126),
	"Working Capital" FLOAT(126),
	"Book Value Per Share" FLOAT(126),
	"Tangible Book Value" FLOAT(126),
	"Tangible Book Value Per Share" FLOAT(126),
	"Land" FLOAT(126),
	"Machinery" FLOAT(126),
	"Leasehold Improvements" FLOAT(126)
   )  DEFAULT COLLATION "USING_NLS_COMP" SEGMENT CREATION IMMEDIATE
  PCTFREE 10 PCTUSED 40 INITRANS 10 MAXTRANS 255
 COLUMN STORE COMPRESS FOR QUERY HIGH ROW LEVEL LOCKING LOGGING
  STORAGE(INITIAL 65536 NEXT 1048576 MINEXTENTS 1 MAXEXTENTS 2147483645
  PCTINCREASE 0 FREELISTS 1 FREELIST GROUPS 1
  BUFFER_POOL DEFAULT FLASH_CACHE DEFAULT CELL_FLASH_CACHE DEFAULT)
  TABLESPACE "DATA"

--------------------------------------------------------------------------------

DDL for Table: CASH_FLOW_QUARTERLY
----------------------------------------

  CREATE TABLE "ADMIN"."CASH_FLOW_QUARTERLY"
   (	"Fiscal Quarter" VARCHAR2(255) COLLATE "USING_NLS_COMP",
	"Net Income" FLOAT(126),
	"Depreciation and Amortization" FLOAT(126),
	"Stock Based Compensation" FLOAT(126),
	"Other Operating Activities" FLOAT(126),
	"Change in Accounts Receivable" FLOAT(126),
	"Change in Inventory" FLOAT(126),
	"Change in Accounts Payable" FLOAT(126),
	"Change in Unearned Revenue" FLOAT(126),
	"Change in Other Net Operating Assets" FLOAT(126),
	"Operating Cash Flow" FLOAT(126),
	"Operating Cash Flow Growth" FLOAT(126),
	"Capital Expenditures" FLOAT(126),
	"Cash Acquisitions" FLOAT(126),
	"Investment in Securities" FLOAT(126),
	"Other Investing Activities" FLOAT(126),
	"Investing Cash Flow" FLOAT(126),
	"Short Term Debt Issued" FLOAT(126),
	"Long Term Debt Issued" FLOAT(126),
	"Total Debt Issued" FLOAT(126),
	"Short Term Debt Repaid" FLOAT(126),
	"Long Term Debt Repaid" FLOAT(126),
	"Total Debt Repaid" FLOAT(126),
	"Net Debt Issued _Repaid_" FLOAT(126),
	"Issuance of Common Stock" FLOAT(126),
	"Repurchase of Common Stock" FLOAT(126),
	"Common Dividends Paid" FLOAT(126),
	"Other Financing Activities" FLOAT(126),
	"Financing Cash Flow" FLOAT(126),
	"Net Cash Flow" FLOAT(126),
	"Free Cash Flow" FLOAT(126),
	"Free Cash Flow Growth" FLOAT(126),
	"Free Cash Flow Margin" FLOAT(126),
	"Free Cash Flow Per Share" FLOAT(126),
	"Cash Interest Paid" FLOAT(126),
	"Cash Income Tax Paid" FLOAT(126),
	"Levered Free Cash Flow" FLOAT(126),
	"Unlevered Free Cash Flow" FLOAT(126),
	"Change in Net Working Capital" FLOAT(126)
   )  DEFAULT COLLATION "USING_NLS_COMP" SEGMENT CREATION IMMEDIATE
  PCTFREE 10 PCTUSED 40 INITRANS 10 MAXTRANS 255
 COLUMN STORE COMPRESS FOR QUERY HIGH ROW LEVEL LOCKING LOGGING
  STORAGE(INITIAL 65536 NEXT 1048576 MINEXTENTS 1 MAXEXTENTS 2147483645
  PCTINCREASE 0 FREELISTS 1 FREELIST GROUPS 1
  BUFFER_POOL DEFAULT FLASH_CACHE DEFAULT CELL_FLASH_CACHE DEFAULT)
  TABLESPACE "DATA"

--------------------------------------------------------------------------------

DDL for Table: RATIO_QUARTERLY
----------------------------------------

  CREATE TABLE "ADMIN"."RATIO_QUARTERLY"
   (	"Fiscal Quarter" VARCHAR2(255) COLLATE "USING_NLS_COMP",
	"Market Capitalization" FLOAT(126),
	"Market Cap Growth" FLOAT(126),
	"Enterprise Value" FLOAT(126),
	"Last Close Price" FLOAT(126),
	"PE Ratio" FLOAT(126),
	"Forward PE" FLOAT(126),
	"PS Ratio" FLOAT(126),
	"PB Ratio" FLOAT(126),
	"P/TBV Ratio" FLOAT(126),
	"P/FCF Ratio" FLOAT(126),
	"P/OCF Ratio" FLOAT(126),
	"PEG Ratio" FLOAT(126),
	"EV/Sales Ratio" FLOAT(126),
	"EV/EBITDA Ratio" FLOAT(126),
	"EV/EBIT Ratio" FLOAT(126),
	"EV/FCF Ratio" FLOAT(126),
	"Debt / Equity Ratio" FLOAT(126),
	"Debt / EBITDA Ratio" FLOAT(126),
	"Debt / FCF Ratio" FLOAT(126),
	"Asset Turnover" FLOAT(126),
	"Inventory Turnover" FLOAT(126),
	"Quick Ratio" FLOAT(126),
	"Current Ratio" FLOAT(126),
	"Return on Equity _ROE_" FLOAT(126),
	"Return on Assets _ROA_" FLOAT(126),
	"Return on Capital _ROIC_" FLOAT(126),
	"Earnings Yield" FLOAT(126),
	"FCF Yield" FLOAT(126),
	"Dividend Yield" FLOAT(126),
	"Payout Ratio" FLOAT(126),
	"Buyback Yield / Dilution" FLOAT(126),
	"Total Shareholder Return" FLOAT(126)
   )  DEFAULT COLLATION "USING_NLS_COMP" SEGMENT CREATION IMMEDIATE
  PCTFREE 10 PCTUSED 40 INITRANS 10 MAXTRANS 255
 COLUMN STORE COMPRESS FOR QUERY HIGH ROW LEVEL LOCKING LOGGING
  STORAGE(INITIAL 65536 NEXT 1048576 MINEXTENTS 1 MAXEXTENTS 2147483645
  PCTINCREASE 0 FREELISTS 1 FREELIST GROUPS 1
  BUFFER_POOL DEFAULT FLASH_CACHE DEFAULT CELL_FLASH_CACHE DEFAULT)
  TABLESPACE "DATA"

--------------------------------------------------------------------------------

DDL for Table: DBTOOLS$EXECUTION_HISTORY
----------------------------------------

  CREATE TABLE "ADMIN"."DBTOOLS$EXECUTION_HISTORY"
   (	"ID" NUMBER NOT NULL ENABLE,
	"HASH" CLOB COLLATE "USING_NLS_COMP",
	"CREATED_BY" VARCHAR2(255) COLLATE "USING_NLS_COMP",
	"CREATED_ON" TIMESTAMP (6) WITH TIME ZONE,
	"UPDATED_BY" VARCHAR2(255) COLLATE "USING_NLS_COMP",
	"UPDATED_ON" TIMESTAMP (6) WITH TIME ZONE,
	"STATEMENT" CLOB COLLATE "USING_NLS_COMP",
	"TIMES" NUMBER,
	 CONSTRAINT "DBTOOLS$EXECUTION_HISTORY_PK" PRIMARY KEY ("ID")
  USING INDEX PCTFREE 10 INITRANS 20 MAXTRANS 255 COMPUTE STATISTICS
  STORAGE(INITIAL 65536 NEXT 1048576 MINEXTENTS 1 MAXEXTENTS 2147483645
  PCTINCREASE 0 FREELISTS 1 FREELIST GROUPS 1
  BUFFER_POOL DEFAULT FLASH_CACHE DEFAULT CELL_FLASH_CACHE DEFAULT)
  TABLESPACE "DATA"  ENABLE
   )  DEFAULT COLLATION "USING_NLS_COMP" SEGMENT CREATION IMMEDIATE
  PCTFREE 10 PCTUSED 40 INITRANS 10 MAXTRANS 255
 COLUMN STORE COMPRESS FOR QUERY HIGH ROW LEVEL LOCKING LOGGING
  STORAGE(INITIAL 65536 NEXT 1048576 MINEXTENTS 1 MAXEXTENTS 2147483645
  PCTINCREASE 0 FREELISTS 1 FREELIST GROUPS 1
  BUFFER_POOL DEFAULT FLASH_CACHE DEFAULT CELL_FLASH_CACHE DEFAULT)
  TABLESPACE "DATA"
 LOB ("HASH") STORE AS SECUREFILE (
  TABLESPACE "DATA" ENABLE STORAGE IN ROW 4000 CHUNK 8192
  NOCACHE LOGGING  NOCOMPRESS  KEEP_DUPLICATES
  STORAGE(INITIAL 262144 NEXT 1048576 MINEXTENTS 1 MAXEXTENTS 2147483645
  PCTINCREASE 0
  BUFFER_POOL DEFAULT FLASH_CACHE DEFAULT CELL_FLASH_CACHE DEFAULT))
 LOB ("STATEMENT") STORE AS SECUREFILE (
  TABLESPACE "DATA" ENABLE STORAGE IN ROW 4000 CHUNK 8192
  NOCACHE LOGGING  NOCOMPRESS  KEEP_DUPLICATES
  STORAGE(INITIAL 262144 NEXT 1048576 MINEXTENTS 1 MAXEXTENTS 2147483645
  PCTINCREASE 0
  BUFFER_POOL DEFAULT FLASH_CACHE DEFAULT CELL_FLASH_CACHE DEFAULT))

--------------------------------------------------------------------------------

In [60]:
user = "ADMIN"
password = "Passwordtestdb@1"
dsn = "testdb_medium"
wallet_location = r"/Users/vexy/Documents/Wallet_testdb/"

# Establish database connection
conn = oracledb.connect(
    user=user,
    password=password,
    dsn=dsn,
    config_dir=wallet_location,
    wallet_location=wallet_location,
    wallet_password=password
)
    
cursor = conn.cursor()

with open("oracle_table_schemas.sql", "w") as f:
    for table in tables:
        table_name = table[0]

        ddl_query = f"SELECT DBMS_METADATA.GET_DDL('TABLE', '{table_name}') FROM DUAL"
        cursor.execute(ddl_query)
        ddl_statement = cursor.fetchone()[0].read()

        f.write(f"\n-- DDL for {table_name}\n")
        f.write(ddl_statement + "\n\n")

print("DDL statements saved to oracle_table_schemas.sql")

# Close connection
cursor.close()
conn.close()

DDL statements saved to oracle_table_schemas.sql

In [61]:
import re

# File paths
input_file = "oracle_table_schemas.sql"
output_file = "cleaned_oracle_table_schemas.sql"

# Read the original SQL file
with open(input_file, "r", encoding="utf-8") as file:
    sql_contents = file.read()

# Remove "COLLATE USING_NLS_COMP"
cleaned_sql = re.sub(r'\s*COLLATE\s+"USING_NLS_COMP"', '', sql_contents)

# Save the cleaned SQL to a new file
with open(output_file, "w", encoding="utf-8") as file:
    file.write(cleaned_sql)

print(f"Cleaned SQL saved to: {output_file}")

Cleaned SQL saved to: cleaned_oracle_table_schemas.sql

In [2]:
load_dotenv()  # Load environment variables from .env
api_key = os.getenv("GROQ_API_KEY")

client = Groq(api_key=api_key)

In [3]:
completion = client.chat.completions.create(
    model="llama-3.1-8b-instant",
    messages=[
        {
            "role": "user",
            "content": "Based on the DDL below, answer the query with an SQL query as the only output\nddl = \"\"\"CREATE TABLE financial_metrics (\n    metric_id SERIAL PRIMARY KEY,  -- Unique identifier for each metric\n    metric_name TEXT NOT NULL,     -- The name of the financial metric\n    year_2007 VARCHAR(50),         -- Value for the year 2007\n    year_2006 VARCHAR(50),         -- Value for the year 2006\n    year_2005 VARCHAR(50)          -- Value for the year 2005\n);\"\"\"\n\n##natural language query\nquery = \"By how much did the weighted average exercise price per share increase from 2005 to 2007?\"\n\n"
        },
    ],
    temperature=1,
    max_completion_tokens=1024,
    top_p=1,
    stream=True,
    stop=None,
)

for chunk in completion:
    print(chunk.choices[0].delta.content or "", end="")

```sql
SELECT SUM(CAST(REPLACE(year_2007, ',', '') AS FLOAT) - CAST(REPLACE(year_2005, ',', '') AS FLOAT)) as increase
FROM financial_metrics
WHERE metric_name = 'Weighted Average Exercise Price per Share';
```

This query assumes the amount values in years 2005 and 2007 are in comma-separated format. The `REPLACE` function is used to remove any commas, then the result is cast to a float to be used in the arithmetic operation.

In [39]:
a= "56"
a= float(a)
print(type(a))
print(a)

<class 'float'>
56.0

In [89]:
# Read the cleaned Oracle table schemas
ddl_file_path = "cleaned_oracle_table_schemas.sql"

with open(ddl_file_path, "r", encoding="utf-8") as file:
    ddl_content = file.read().strip()  # Read and remove unnecessary whitespace

# Define the natural language query
nl_query = "What was the gross profit in q3 2024?"

load_dotenv()  # Load environment variables from .env
api_key = os.getenv("GROQ_API_KEY")

client = Groq(api_key=api_key)

# Format the query dynamically
prompt = f"""Based on the DDL below, answer the question with an SQL query that starts with "SQL:".For example SQL:SELECT * FROM TABLE;. Do not use any otehr prefix for the SQL query.Any extra information should be prefixed by 'NOTE:'.For example NOTE: The data requires etc. If you do not have appropriate information, reply with "I am sorry, I am having trouble finding the right information." 

ddl = \"\"\"{ddl_content}\"\"\"

## Natural Language Query
query = \"{nl_query}\"
"""

# Call the LLM API
completion = client.chat.completions.create(
    model="llama-3.3-70b-versatile",
    messages=[
        {
            "role": "user",
            "content": prompt
        },
    ],
    temperature=.7,
    max_completion_tokens=1024,
    top_p=1,
    stream=True,
    stop=None,
)

# Collect the streamed output into a single string
llm_output = ""
for chunk in completion:
    if hasattr(chunk.choices[0].delta, "content"):  # Ensure content exists
        llm_output += chunk.choices[0].delta.content or ""

# Strip any unnecessary whitespace
llm_output = llm_output.strip()

# Use regex to extract SQL and Notes
sql_match = re.search(r"SQL:\s*(.*?)(?:\nNOTES:|$)", llm_output, re.DOTALL)
notes_match = re.search(r"NOTES:\s*(.*)", llm_output, re.DOTALL)

# Store the extracted values
query = sql_match.group(1).strip() if sql_match else None  # Extract SQL part
extra = notes_match.group(1).strip() if notes_match else None  # Extract Notes
query = query.rstrip(";")  # Removes trailing semicolon if present

# Debugging: Print to verify extraction (Remove later)
print("Query:", query)
print("Extra:", extra)

Query: SELECT "Gross Profit" FROM "ADMIN"."INCOME_QUARTERLY" WHERE "Fiscal Quarter" = 'Q3 2024'
Extra: None

In [90]:
print("Query:", query)

Query: SELECT "Gross Profit" FROM "ADMIN"."INCOME_QUARTERLY" WHERE "Fiscal Quarter" = 'Q3 2024'

In [91]:


# Establish database connection
conn = oracledb.connect(
    user=user,
    password=password,
    dsn=dsn,
    config_dir=wallet_location,
    wallet_location=wallet_location,
    wallet_password=password
)
    
cursor = conn.cursor()
try:
    # Execute the SQL query
    cursor.execute(query)

    # Fetch results
    results = cursor.fetchall()

    # Print results
    print("Query Results:")
    for row in results:
        print(row)

except oracledb.DatabaseError as e:
    print("Error executing query:", e)

finally:
    # Close cursor and connection
    cursor.close()
    conn.close()

Query Results:
(39678.0,)